version: '2'

services:
    ros_echo:
      build: 
       context: ../..
       dockerfile: docker_scripts/for_jetson/jetsonDockerfile
       #network_mode: "host"
       #pid: "host"
      command: tail -F anything # will run container forever
networks:
  default:
    name: custom_network
    external: true
