version: '2'

services:
    micro-ros-agent:
      image: microros/micro-ros-agent:humble
      command: serial --dev /dev/ttyUSB0
      privileged: true
      network_mode: "host"
      pid: "host"
    ros_echo:
      build: 
       context: ../..
       dockerfile: docker_scripts/for_jetson/jetsonDockerfile
       args:
         - LIBRS_VERSION=2.53.1
      network_mode: "host"
      pid: "host"
      command: tail -F anything # will run container forever
      depends_on:
        - micro-ros-agent
